streamlit # For building the web application
numpy # For numerical computations
pandas # For data manipulation and analysis
scikit-learn # For machine learning algorithms
dlib-bin # For face recognition
git+https://github.com/ageitgey/face_recognition_models # For face recognition models
setuptools<70.0.0 # To avoid compatibility issues with dlib
supabase # For database interactions
bcrypt # For password hashing
segno # For QR code generation
pillow # For image processing
librosa # For audio processing 
resemblyzer # For speaker verification and voice recognition
